@tailwind base;
@tailwind components;
@tailwind utilities;

.hand {
  height: 140px;
  width: 6px;
  transform-origin: bottom;
  transform: rotate(0deg);
  position: absolute;
}

.clock__face {
  border: 8px solid white;
  width: 300px;
  height: 300px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
}

.hand--hours {
  background: #ae2012;
}

.hand--minutes {
  background: #e9d8a6;
  width: 5px;
}

.hand--seconds {
  background: #94d2bd;
  width: 2px;
  transform: rotate(360deg);
}
