@tailwind base;
@tailwind components;
@tailwind utilities;

.hand {
  height: 9rem;
  transform: rotate(0deg);
  position: absolute;
}

.clock__face {
  border: 1rem solid rgb(0, 0, 0);
  width: 20rem;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  box-shadow: rgb(4, 0, 255) 0 0 1rem;
}

.hand--hours {
  background: #ff1100;
  width: 0.4rem;
  box-shadow: rgb(255, 0, 0) 0 0 1rem, inset rgb(255, 0, 0) 0 0 1rem;
}

.hand--minutes {
  background: #ff0000;
  width: 0.3rem;
  box-shadow: rgb(255, 0, 0) 0 0 1rem, inset #ff0000 0 0 1rem;
}

.hand--seconds {
  background: #ffffff;
  width: 0.1rem;
  box-shadow: rgb(255, 0, 0) 0 0 1rem, inset rgb(255, 255, 255) 0 0 1rem;
  transform: rotate(360deg);
}
